@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/PlusJakartaSans/PlusJakartaSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/PlusJakartaSans/PlusJakartaSans-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/PlusJakartaSans/PlusJakartaSans-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/PlusJakartaSans/PlusJakartaSans-Bold.ttf")
    format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../font/PlusJakartaSans/PlusJakartaSans-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: "Material Symbols Outlined";
  src: url("../font/material-symbols/MaterialSymbolsOutlined.woff2")
    format("woff2");
  font-weight: 100 700;
  font-display: swap;
}
